# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.pkl
*.h5
*.hdf5
*.env
.env*
venv/
ENV/
env/
.venv/
.envrc
*.bak
*.tmp
*.swp
*.swo
*.~
pyvenv.cfg

# Python Virtual Environments
backend/mock_streaming_service/streaming_backend/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# IntelliJ/Android Studio
*.iml
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.metadata

# Android
*.apk
*.ap_
*.aab
*.dex
.gradle/
local.properties
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat

# iOS
*.pbxuser
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.hmap
*.ipa
*.xcuserstate
ios/.symlinks/

# Windows
Thumbs.db
Desktop.ini

# MacOS
.DS_Store
*.dSYM/

# Audio/ML/Experiment outputs
output/
logs/
*.wav
*.mp3
*.flac
*.npy
*.npz

# Node.js (if any)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.old
*.orig
*.rej

# Ignore PDF and PPTX in docs
/docs/*.pdf
/docs/*.pptx
